{% extends "::base.html.twig" %}

{% block metatags %}
    <link rel="amphtml" href="{{ crosslink }}">
{% endblock %}
{% block body %}
    <div class="container box-wrapper">
        <section class="content">
            <header class="header">
                {% block page_header %}
                    {% include 'AppBundle:layout:_header.html.twig' ignore missing %}
                {% endblock %}
            </header>

            <section class="main-content">
                <div class="row no-expand">
                    <div class="col-sm-8 content-left-column">
                            {% block main %}{% endblock %}       
                    </div>
                    <aside class="col-sm-4 content-right-column">
                        {{ render(controller('AppBundle:Page:sidebar', {'pathInfo': app.request.pathInfo})) }}
                    </aside>

                </div>
            </section>

            <footer class="footer">
                {% block page_footer %}
                    {% include 'AppBundle:layout:_footer.html.twig' ignore missing %}
                {% endblock %}
            </footer>
        </section>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter="scssphp" output="css/app.css"
        "@AppBundle/Resources/public/sass/*.scss"
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter="?jsqueeze" output="js/app.js"
        '@AppBundle/Resources/public/coffee/*.coffee'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}