{% extends "::base.html.twig" %}

{% block body %}
    <div class="container box-wrapper">
        <div class="content">
            <div class="header">
                {% block page_header %}
                    {% include 'AppBundle:layout:_header.html.twig' ignore missing %}
                {% endblock %}
            </div>

            <div class="main-content">
                <div class="row">
                    <div class="col-sm-8 content-left-column">
                            {% block main %}{% endblock %}       
                    </div>
                    <div class="col-sm-4 content-right-column">
                        {{ render(controller('AppBundle:Page:sidebar')) }}                        
                    </div>

                </div>
            </div>

            <div class="footer">
                {% block page_footer %}
                    {% include 'AppBundle:layout:_footer.html.twig' ignore missing %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter="scssphp" output="css/app.css"
        "@AppBundle/Resources/public/sass/*.scss"
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter="?jsqueeze" output="js/app.js"
        '@AppBundle/Resources/public/coffee/*.coffee'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}