{% extends 'AppBundle:amp:layout.html.twig' %}

{% block title %} Our {{ type_title|capitalize }} | {{ parent() }}{% endblock %}

{% block main %}

{% for article in articles %}
    <div class="article-preview-item">
        <div class="article-preview">
            <h1><span>{{ article.header }}</span></h1>
            <div class="article-preview-content">
                <div class="article-preview-image">
                    <div class="logo-wraper">
                        {% if article.logo is not null and article.logo.filename is not null %}
                            <amp-img alt src="{{ article_logo_prefix }}/{{ article.logo.filename }}" width="{{ article.logo.width }}" height="{{ article.logo.height }}" layout="responsive"></amp-img>
                        {% else %}
                            <amp-img alt src="{{ article_logo_prefix }}/{{ type == constant('AppBundle\\Entity\\Article::PAGE_SUBTYPE_RECIPE') ? recipe_default_logo : article_default_logo }}" width="{{ default_logo_width }}" height="{{ default_logo_height }}" layout="responsive"></amp-img>
                        {% endif %}
                    </div>
                </div>
                <p>{{ article.description }}</p>
            </div>
            <a class="show-recipe-block" href="{{ path(article, {'prefix': amp_prefix}) }}">Show&nbsp;&nbsp;<span>{{ type|capitalize }}</span></a>
        </div>
    </div>
{% endfor %}

{% endblock %}