{% if menu_type is defined and menu_type == 'top' %}
    <li class="top-menu-item">
        <a href="{{ path('homepage', {'prefix': prefix}) }}">{{ menu.header }}</a>
        <ul class="top-menu-submenu">
            {% for menu_item in menu.items %}
                <li><a href="{{ path(menu_item, {'prefix': prefix}) }}">{{ menu_item.title }}</a></li>
            {% endfor %}
        </ul>
    </li>
{% else %}
    <div class="footer-menu-block">
        <div><span>{{ menu.header }}</span></div>
        <nav>
            <ul class="footer-menu">
                {% for menu_item in menu.items %}
                    <li><a href="{{ path(menu_item, {'prefix': prefix}) }}">{{ menu_item.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endif %}