{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ store.name }} coupons | {{ parent() }}{% endblock %}

{% block main %}
    <div class="content-coupons-block">
        <div class="coupons-block-header">
            <div class="coupons-block-header-logo">
                {% if store.logo is not null and store.logo.filename is not null %}
                    <a href="{{ coupon_image_prefix }}/{{ store.logo.filename }}" class="fresco" target="_blank"><img class="store-logo" alt="store-logo" src="{{ store_logo_prefix }}/{{ store.logo.filename }}"></a>
                {% endif %}
            </div>
            <div class="coupons-block-header-title">
                <span>{{ store.name }} coupons</span>
            </div>
            <div class="coupons-block-header-descr">
                <span>{{ store.description }}</span>
            </div>
        </div>
        {% for store_coupon in store.coupons %}
            {% if store_coupon.actual %}
                <div class="coupons-block-item">
                    <div class="coupon-block-item-left">
                        <div class="coupon-block-item-logo {{ store_coupon.discount == 'FREE Shipping' and store_coupon.logo is null ? 'shipping' : '' }}">
                            {% if store_coupon.logo is not null and store_coupon.logo.filename is not null %}
                                <a href="{{ coupon_image_prefix }}/{{ store_coupon.logo.filename }}" class="fresco" target="_blank"><img class="store-logo" alt="coupon-logo" src="{{ coupon_image_prefix }}/{{ store_coupon.logo.filename }}"></a>
                            {% elseif store_coupon.discount == 'FREE Shipping' %}
                                    FREE Shipping
                            {% elseif store_coupon.discount is not empty %}
                                    <span>{{ store_coupon.discount }}</span> OFF
                            {% endif %}
                        </div>
                    </div>
                    <div class="coupon-block-item-right">
                        {% if store_coupon.inStore %}
                            <div class="coupon-block-item-title">In store coupon</div>
                        {% endif %}
                        <div class="coupon-block-item-descr">
                            <div class="coupon-block-item-label">{{ store_coupon.label }}</div>
                            <div class="coupon-block-item-code">
                                {% if store_coupon.encryptedCode is not empty %}
                                    <a href="{{ store_coupon.link }}" ec="{{ store_coupon.encryptedCode }}"><span>ShowCoupon CODE</span></a>
                                {% else %}
                                        <a href="{{ store_coupon.link }}"><span>ShowCoupon</span></a>
                                {% endif %}
                                {% if store_coupon.expireDate is not empty %}
                                    <span class="coupon-block-item-expire">expires: {{ store_coupon.expireDateProd }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="coupon-block-item-verify">
                            {% if store_coupon.whenVerified is not empty %}
                               Verified {{ store_coupon.whenVerified }}.
                            {% endif %}
                            {% if store_coupon.addedBy is not empty and store_coupon.addedBy.name is not empty %}
                               Added by {{ store_coupon.addedBy.name }}
                            {% endif %}
                        </div>
                    </div>                                    
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
{#    <ul class="coupons-list list-unstyled">
        {% for store_coupon in store.coupons %}
            {% if store_coupon.actual %}
                <li class="list-item">
                    <div class="coupon-content col-sm-12">
                        <div class="col-sm-8">
                            <div class="row">
                                <label class="col-sm-2 control-label">Label</label>
                                <div class="col-sm-10">
                                    <textarea rows="3" class="form-control" disabled>{{ store_coupon.label }}</textarea>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label">Code</label>
                                <div class="col-sm-10">
                                    <input type="text" value="{{ store_coupon.code }}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label">Starts</label>
                                <div class="col-sm-10">
                                    <input type="text" value="{{ store_coupon.startDateProd }}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label">Link</label>
                                <div class="col-sm-10">
                                    <input type="url" value="{{ store_coupon.link }}" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 control-label">Expires</label>
                                <div class="col-sm-10">
                                    <input type="text" value="{{ store_coupon.expireDateProd }}" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                {% if store_coupon.logo is not null and store_coupon.logo.filename is not null %}
                                    <label class="col-sm-3 control-label">Logo</label>
                                    <div class="col-sm-9">
                                        <a href="{{ coupon_image_prefix }}/{{ store_coupon.logo.filename }}" class="fresco" target="_blank"><img class="store-logo" alt="store-logo" src="{{ coupon_image_prefix }}/{{ store_coupon.logo.filename }}"></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>#}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .coupon-content {
            margin-bottom: 5px;
            padding: 5px;
            background-color: #ddd;
            border-radius: 5px;
        }
    </style>
{% endblock %}