{% extends "AdminBundle::layout.html.twig" %}

{% block title %}New Article |{{ parent() }}{% endblock %}

{% block content %}
    <header>
        <h1>New Article</h1>
    </header>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'edit-form'}}) }}
    {{ form_row(form.header) }}
    {{ form_row(form.url) }}
    {{ form_row(form.author) }}
    {{ form_row(form.type) }}
    {{ form_widget(form.logo) }}
    <div class="hidden">
        {{ form_row(form.metaKeywords) }}
        {{ form_row(form.metaDescription) }}
        {{ form_row(form.metatags) }}
    </div>
    {{ form_row(form.description) }}
    {{ form_row(form.body) }}
    {{ form_row(form.is_homepage) }}
        <div class="actions text-right">
            <button type="submit" class="btn btn-danger">Create</button>
            <a href="{{ path('admin_article_index') }}" class="btn btn-default">Cancel</a>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter="?jsqueeze" output="js/admin/article.js"
        '@AppBundle/Resources/public/coffee/admin/article.coffee'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}