{% extends "AdminBundle::layout.html.twig" %}

{% block title %}Delete Article | {{ parent() }}{% endblock %}

{% block body %}
    <header>
        <h1>Do you want to remove following article?</h1>
    </header>

    <dl class="dl-horizontal">
        <dt>Header</dt>
        <dd>{{ article.header }}</dd>


        <dt>Url</dt>
        <dd>{{ article.url }}</dd>
    </dl>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="actions col-md-offset-2">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{{ path('admin_article_index') }}" class="btn btn-default">Cancel</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
