{% extends "AdminBundle::layout.html.twig" %}

{% block title %}Article | {{ parent() }}{% endblock %}

{% block body %}

    <a href="{{ path("admin_article_create")}}" class="btn btn-default">Create Article</a>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Header</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in article_list %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ article.header }}</td>
                    <td>{{ article.url }}</td>
                    <td>
                        <a href="{{ path("admin_article_edit", {id: article.id}) }}">Edit</a>
                        <a href="{{ path("admin_article_delete", {id: article.id}) }}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
