{% extends 'AppBundle:amp:layout.html.twig' %}

{% block title %}{{ article.header }} | {{ parent() }}{% endblock %}

{% block metatags %}
    {{ parent() }}
    {{ article.metatags|raw }}
    {% if article.keywordsString is not empty %}
        <meta name="keywords" content="{{ article.keywordsString }}">
    {% endif %}
{% endblock %}

{% block main %}

<article class="content-article-block">
    <amp-image-lightbox id="lightbox1" layout="nodisplay"><button on="tap:lightbox1.close">X</button></amp-image-lightbox>
    <h1><span>{{ article.header }}</span></h1>
    {{ article.ampBody|raw }}

    {% if article.type != constant('AppBundle\\Entity\\Article::PAGE_SUBTYPE_INFO') %}
        <div class="content-article-block-sign">
            {{ article.type|capitalize }} by: <span>{{ article.author }}</span>
        </div>
    {% endif %}
</article>
{% if featured_stores is defined and featured_stores is not empty%}
    <div class="featured-stores-previews">
        <div class="featured-stores-previews-title">Featured Stores</div>
        {% include 'AppBundle:amp/layout:_list_pattern.html.twig' with {'items': featured_stores, 'items_type': constant('AppBundle\\Entity\\Store::PAGE_TYPE'), 'method': 'getName'} %}
    </div>
{% endif %}
{% endblock %}