<div class="header-logo-line">
    <a href="{{ path('homepage', {"prefix": amp_prefix}) }}" id="menu-link">Menu</a>
    <div class="main-menu-block">
        <ul class="main-menu">
            {% for menu in menus %}
                {% if menu.type == constant('AppBundle\\Entity\\Menu::TYPE_TOP') and menu.items is not empty %}
                    {{ render(controller('AppBundle:Page:menu', {'name': menu.name, 'prefix': amp_prefix})) }}
                {% endif %}
            {% endfor %}
            {% set i = 0 %}
            {% for menu in menus%}
                {% if menu.type == constant('AppBundle\\Entity\\Menu::TYPE_SIDE') and menu.items is not empty %}
                    {% set i = i + 1 %}
                    {% if i > 2  %}
                        <li>
                            <a class="has-submenu disabled">{{ menu.header }}</a>
                            <div class="main-submenu-block">
                                <ul class="main-menu-submenu">
                                    {{ render(controller('AppBundle:Page:menu', {'name': menu.name, 'prefix': amp_prefix})) }}
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <a href="{{ path('homepage', {"prefix": amp_prefix}) }}"><img src="/bundles/app/img/amp-logo.png" alt="Bakingshop.com">
    <span>BAKINGSHOP.com</span></a>
    <div class="main-menu-search">
        <form method="get" action="{{ path('search_page', {'prefix': amp_prefix, 'slug': 'all', 'page': 1}) }}">
            <input type="submit" value=" ">
            <div class="main-menu-search-form">
                <input class="search-input" name="q" type="search" placeholder="Search" autocomplete="off">
            <ul class="top-menu-search-result main-menu coupons-page">
            </ul>
            </div>
        </form>
    </div>
</div>
<div class="header-menu-line">
    {% include 'AppBundle:amplified/layout:_top_menu.html.twig' ignore missing %}
</div>