{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Menu Items | {{ parent() }}{% endblock %}

{% block content %}
    <header>
        <h1>Menu items for &lt; {{ menu.name }} &gt;</h1>
    </header>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    
    <ul class="menu-items list-unstyled">
        {% for menu_item in form.items %}
            <li>
                {{ form_errors(menu_item) }}
                {{ form_widget(menu_item) }}
            </li>
        {% endfor %}
    </ul>

    <div class="actions text-right">
        <button type="submit" class="btn btn-danger">Save Changes</button>
        <a href="{{ path("admin_menu_index") }}" class="btn btn-default">Cancel</a>
    </div>

    {{ form_end(form) }}
{% endblock %}