{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ article.header }} | {{ parent() }}{% endblock %}

{% block metatags %}
    {{ parent() }}
    {% if homepage is defined %}
        {% set item = homepage %}
    {% else %}
        {% set item = article %}
    {% endif %}
    {% if item is not empty %}
        {{ item.metatags|raw }}
        {% if item.metaDescriptionString is not empty %}
            <meta name="description" content="{{ item.metaDescriptionString }}">
        {% endif %}
        {% if item.metaKeywordsString is not empty %}
            <meta name="keywords" content="{{ item.metaKeywordsString }}">
        {% endif %}
    {% endif %}
{% endblock %}

{% block main %}

<article class="content-article-block">
    <h1><span>{{ article.header }}</span></h1>
    {{ article.prodBody|raw }}

    {% if article.type != constant('AppBundle\\Entity\\Article::PAGE_SUBTYPE_INFO') %}
        <div class="content-article-block-sign">
            {{ article.type|capitalize }} by: <span>{{ article.author }}</span>
        </div>
    {% endif %}

{#    <div class=content-article-block-enjoy>
        <a href="#"><span>Enjoy delicious Pear Tart.</span></a>
    </div>
#}
</article>
{% if featured_stores is defined and featured_stores is not empty%}
    <div class="featured-stores-previews">
        <div class="featured-stores-previews-title">Featured Stores</div>
        {% include 'AppBundle:layout:_list_pattern.html.twig' with {'items': featured_stores, 'items_type': constant('AppBundle\\Entity\\Store::PAGE_TYPE'), 'method': 'getName'} %}
    </div>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.content-article-block img').wrap(function() {
              return '<a href="' + this.src + '" class="fresco" data-fresco-group="article-images" target="_blank">';
            });
        });
    </script>
{% endblock %}