{% extends 'AppBundle:amp:layout.html.twig' %}

{% block title %}{{ store.name }} coupons | {{ parent() }}{% endblock %}

{% block main %}
    <div class="content-coupons-block">
        <div class="coupons-block-header">
            <div class="coupons-block-header-title {{ store.logo is not null and store.logo.filename is not null ? '' : 'no-logo' }}">
                <h1>{{ store.name }} shop coupons</h1>
            </div>
        </div>
        {% for store_coupon in store.coupons %}
            {% if store_coupon.actual %}
                <div class="coupons-block-item">
                    <div class="coupon-block-item-left">
                        <div class="coupon-block-item-logo {{ store_coupon.logo is null and store_coupon.discount == 'FREE Shipping' ? 'shipping' : '' }}">
                            {% if store_coupon.logo is not null and store_coupon.logo.filename is not null %}
                                <amp-img src="{{ coupon_image_prefix }}/{{ store_coupon.logo.filename }}" alt width="{{ store_coupon.logo.width }}" height="{{ store_coupon.logo.height }}" layout="responsive"></amp-img>
                            {% elseif store_coupon.discount == 'FREE Shipping' %}
                                    FREE Shipping
                            {% elseif store_coupon.discount is not empty %}
                                    <span>{{ store_coupon.discount }}</span> OFF
                            {% elseif store.logo is not null and store.logo.filename is not null %}
                                <amp-img src="{{ store_logo_prefix }}/{{ store.logo.filename }}" alt width="{{ store.logo.width }}" height="{{ store.logo.height }}" layout="responsive"></amp-img>
                            {% endif %}
                        </div>
                    </div>
                    <div class="coupon-block-item-right">
                        {% if store_coupon.inStore %}
                            <div class="coupon-block-item-title">In store coupon</div>
                        {% endif %}
                        <div class="coupon-block-item-descr">
                            <div class="coupon-block-item-label">{{ store_coupon.label }}</div>
                            <div class="coupon-block-item-verify">
                                Verified {{ store_coupon.whenVerified }}.
                                {% if store_coupon.addedBy is not null %}
                                    Added by {{ store_coupon.addedBy.name }}
                                {% endif %}
                            </div>
                            <div class="coupon-block-item-code">
                                <a href="{{ path(store, {'prefix': amp_prefix, 'a': 'a', 'i': 'cp' ~ store_coupon.id}) }}" target="_blank" rel="nofollow"><span>ShowCoupon{{ store_coupon.code is not null ? ' CODE' : '' }}</span></a>
                                {% if store_coupon.expireDate is not null %}
                                    <span class="coupon-block-item-expire">expires: {{ store_coupon.expireDateProd }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="coupons-block-header">
            {% if store.logo is not null and store.logo.filename is not null %}
                <div class="coupons-block-header-logo">
                    <div class="logo-wraper">
                        <amp-img src="{{ store_logo_prefix }}/{{ store.logo.filename }}" alt width="{{ store.logo.width }}" height="{{ store.logo.height }}" layout="responsive"></amp-img>
                    </div>
                </div>
            {% endif %}
            <div class="coupons-block-header-descr">
                {{ store.shortDescription }}
                {% if store.shortDescription|length < store.description|length %}
                    <input type="checkbox" id="descr-details">
                    <label class="descr-details-open" for="descr-details">... more</label>
                    <span class="descr-details-text">
                        {{ store.restDescription }}
                        <label class="descr-details-close" for="descr-details">less</label>
                    </span>
                {% endif %}
            </div>
    </div>
{% endblock %}