{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}New Menu | {{ parent() }}{% endblock %}

{% block content %}
    <header>
        <h1>New Menu</h1>
    </header>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form, {'attr': {'autocomplete': false}}) }}

        <div class="actions text-right">
            <button type="submit" class="btn btn-danger">Create</button>
            <a href="{{ path("admin_menu_index") }}" class="btn btn-default">Cancel</a>
        </div>
    {{ form_end(form) }}
{% endblock %}