{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Menu Information | {{ parent() }}{% endblock %}

{% block content %}
    <header>
        <h1>Menu Information</h1>
    </header>

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ menu.name }}</dd>

        <dt>Header</dt>
        <dd>{{ menu.header }}</dd>

        <dt>Links</dt>
        {% for menu_item in menu.items %}
            <dd>{{ menu_item.url }}</dd>
        {% endfor %}
    </dl>

    <div class="actions col-md-offset-2">
        <a href="{{ path("admin_menu_index") }}" class="btn btn-default">Back</a>
        <a href="{{ path("admin_menu_edit", {"id": menu.id}) }}" class="btn btn-default">Edit</a>
        <a href="{{ path("admin_menu_delete", {"id": menu.id}) }}" class="btn btn-danger">Delete</a>
    </div>
{% endblock %}