{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}New Store | {{ parent() }}{% endblock %}

{% block content %}
    <header>
        <h1>New Store</h1>
    </header>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.link) }}
    {{ form_row(form.keywords) }}
    {{ form_row(form.description) }}
    {{ form_widget(form.logo) }}
    {{ form_row(form.feedId) }}
        <div class="actions text-right">
            <button type="submit" class="btn btn-danger">Create</button>
            <a href="{{ path("admin_store_index") }}" class="btn btn-default">Cancel</a>
        </div>
    {{ form_end(form) }}
{% endblock %}