{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}New Store | {{ parent() }}{% endblock %}

{% block content %}
    <header>
        <h1>New Store</h1>
    </header>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.name, {'attr': {'autocomplete': false}}) }}
    {{ form_row(form.url, {'attr': {'autocomplete': false}}) }}
    {{ form_row(form.keywords, {'attr': {'autocomplete': false}}) }}
    {{ form_row(form.description, {'attr': {'autocomplete': false}}) }}
    {{ form_widget(form.logo) }}
        <div class="actions text-right">
            <button type="submit" class="btn btn-danger">Create</button>
            <a href="{{ path("admin_store_index") }}" class="btn btn-default">Cancel</a>
        </div>
    {{ form_end(form) }}
{% endblock %}