{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Edit Store | {{ parent() }}{% endblock %}

{% block content %}
    <header>
        <h1>Edit Store</h1>
    </header>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.link) }}
    {{ form_row(form.keywords) }}
    {{ form_row(form.description) }}
    {{ form_widget(form.logo) }}
    {% if form.vars.value.logo is not null and form.vars.value.logo.filename is not null %}
        <div class="form-group">
            {{ form_label(form.logo) }}
            <div class="col-sm-10">
                <a href="{{  store_logo_prefix }}/{{ form.vars.value.logo.filename }}" class="fresco" target="_blank"><img class="store-logo" alt="store-logo" src="{{ store_logo_prefix }}/{{ form.vars.value.logo.filename }}"></a>
                <a href="#" class="btn btn-link btn-sm" onclick="removeLogo(event, this);">Remove logo</a>
                <input type="text" name="current_logo" hidden>
            </div>
        </div>
    {% endif %}
    {{ form_row(form.feedId) }}
        <div class="actions text-right">
            <button type="submit" class="btn btn-danger">Update</button>
            <a href="{{ path("admin_store_index") }}" class="btn btn-default">Cancel</a>
        </div>
    {{ form_end(form) }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts filter="?jsqueeze" output="js/admin/store.js"
        '@AppBundle/Resources/public/coffee/admin/store.coffee'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
