{% extends "AdminBundle::layout.html.twig" %}

{% block title %}Store | {{ parent() }}{% endblock %}

{% block content %}
    <a href="{{ path("admin_store_create") }}" class="btn btn-default">Create Store</a>
    {% if store_list is not null %}
        Show stores:
            <label class="radio-inline">
                <input type="radio" name="stores_filter" value="" checked>all
            </label>
            <label class="radio-inline">
                <input type="radio" name="stores_filter" value="active">active
            </label>
            <label class="radio-inline">
                <input type="radio" name="stores_filter" value="deactivated">deactivated
            </label>
            </select>
    {% endif %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for store in store_list %}
                <tr class="store-type {{store.networkError ? 'network-error' : '' }} {{ store.activity ? 'active' : 'deactivated' }}-store">
                    <td>{{ loop.index }}</td>
                    <td>{{ store.name }}</td>
                    <td><a href="{{ path(store) }}" target="_blank">{{ store.url }}</a></td>
                    <td>
                        <a href="{{ path("admin_store_edit", {id: store.id}) }}">Edit</a>
                        <a href="{{ path("admin_store_coupons", {id: store.id}) }}">Coupons</a>
                        <a href="{{ path("admin_store_delete", {id: store.id}) }}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts filter="?jsqueeze" output="js/admin/store.js"
        '@AppBundle/Resources/public/coffee/admin/store.coffee'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}