{% if page == 0 %}
    <div class="list-all-navigation">Browse: <a href="">all </a>
        <ul>
            {% for key, group in items %}
                <li><a href="{{ key == '#' ? '#digits' : '#'~key }}">{{ key }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% if featured_stores is defined and featured_stores is not empty %}
        <div class="featured-stores-list">
            Featured Stores
            <ul>
            {% for store in featured_stores %}
                <li>
                    <div class="featured-stores-item-logo">
                        <a href="{{ path(store) }}">
                            {% if store.logo is not null and store.logo.filename is not null %}
                                <img alt="{{ store.name }}" src="{{ store_logo_prefix }}/{{ store.logo.filename }}">
                            {% else %}
                                <img alt="{{ store.name }}" src="{{ store_logo_prefix }}/{{ 'store_default_logo' }}">
                            {% endif %}
                        </a>
                    </div>
                    <a href="{{ path(store) }}"><span>{{ store.couponsCount }}</span> Coupon{{ store.couponsCount == 1 ? '' : 's' }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="article-previews">                    
        {% for key, group in items %}
            <div class="list-all-header" id="{{ key == '#' ? 'digits' : key }}">{{ key }}</div>
            {% set opened = false %}
            {% for item in group %}
                {% if loop.index is odd %}
                    {% set opened = true %}
                    <div class="row">
                {% endif %}
                <div class="list-all-item"><a href="{{ path(item) }}">{{ attribute(item, method) }}</a></div>
                {% if loop.index is even %}
                    {% set opened = false %}
                    </div>
                {% endif %}
            {% endfor %}
            {% if opened %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    {% set count = 0 %}
    <div class="article-previews">
        {% for item in items %}
            {% set count = count + 1 %}
            <div class="article-preview-item">
                <div class="article-preview">
                    <h1><span><a href="{{ path(item) }}">{{ attribute(item, method) }}</a></span></h1>
                    <div class="article-preview-content">
                        <div class="article-preview-image">
                            <a href="{{ path(item) }}">
                                {% if item.logo is not null and item.logo.filename is not null %}
                                    <img alt src="{{ _context[items_type ~ '_logo_prefix'] }}/{{ item.logo.filename }}">
                                {% elseif items_type == constant('AppBundle\\Entity\\Article::PAGE_TYPE') %}
                                    <img alt src="{{ _context[items_type ~ '_logo_prefix'] }}/{{ type == constant('AppBundle\\Entity\\Article::PAGE_SUBTYPE_RECIPE') ? recipe_default_logo : article_default_logo }}">
                                {% else %}
                                    <img alt src="{{ _context[items_type ~ '_logo_prefix'] }}/{{ _context[items_type ~ '_default_logo'] }}">
                                {% endif %}
                            </a>
                        </div>
                        <p>{{ item.description }}</p>
                    </div>
                    <a class="show-recipe-block" href="{{ path(item) }}">Show&nbsp;&nbsp;<span>{{ item.type|capitalize }}</span></a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if _context[items_type ~ 's_count'] is defined and _context[items_type ~ 's_count'] > count %}
        <div class="list-pagination-links">
            <a class="search-result-more" href="{{ path('search_page', {'slug': items_type, 'q': needle, 'page': 1}) }}">See more results for '{{ needle }}'</a>
        </div>
    {% endif %}
{% endif %}